@import "./reset.css";
/*--------general--------*/
:root {
    --col-main-blue: #01a6e8;
    --col-main-blue-hover: #0993ca;
    --col-main-dark-blue: #054c68;
    --col-main-orange: #ffac14;
    --col-main-orange-hover: #ec9800;
    --col-main-orange-hover: #9d6600;
    --col-white: #edeaea;
    --col-black: #111111;
    --col-dark: #1B2430;
}

.container {
    width: min(100% - 40px, 1280px);
    margin-inline: auto;
}

.flex {
    display: flex;
}

.center {
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
}

body {
    background-color: var(--col-dark) ;
}

.textStyle{
    color: var(--col-white);
}

/*--------end of general--------*/

/*--------header--------*/

header {
    background-color: #2D343F;
    min-width: 100%;
    display: flex;
    overflow: hidden;
    box-shadow: rgba(0 0 0 / 0.3) 0px 8px 24px;
    height: 70px;
    position: sticky; top: 0;
    z-index: 99;
    
}

.head{
    justify-content: space-between;
    align-items: center;
}

.pageTitle{
    width: 210px;
    height: 55px;
    color: var(--col-main-blue);
    letter-spacing: 1px;
    font-size: 14.3px;
    line-height: 55px;
}

.headerPages {
    display: flex;
    justify-content: center;
    width: 450px;
    height: 55px;
    line-height: 55px;
    text-align: center;
}

h3 {
    margin: 0px 10px 0px 10px;
    font-size: 15px;
}

.headerProfile{
    display: flex;
    justify-content: flex-end;
    width: 210px;
    height: 55px;
    align-items: center;
}

.profile{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid var(--col-main-blue);
    text-align: center;
    line-height: 40px;
    font-size: 25px;
}

.icon {
    color: var(--col-white);
}

/*--------end of header-------- */

/*--------post box--------------*/

    /*--------DIV BOX--------- */
.postCreation {
    position: relative;
    height: 200px;
    width: 700px;
    margin-top: 35px;
    background-color: #2D343F;
    border-radius: 5px;
}

.postTxt{
    background-color: #2D343F;
    color: var(--col-white);
    border-style: none;
    width: 672px;
    height: 40px;
    margin: 10px 0px 10px 10px;
    padding-left: 5px;
}

.postImg {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

    /*----------BUTTON--------*/
.submit {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 35px;
    width: 75px;
    border-radius: 100px;
    background-color: var(--col-main-blue);
}

    /*--------FILE UPLOADER----*/
.postImg{
    display: inline-block;
    cursor: pointer;
    font-size: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: var(--col-white);
}

.postImg input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

/*--------End of post box-------*/